<nav class="blue darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">My Broker</a>
        <ul class="right hide-on-med-and-down">
            <li><a name="loopBtn" href="#"><i class="large material-icons" (click)="doRefresh()">loop</i></a></li>
            <li><a name="addBtn" href="#"><i class="large material-icons" (click)="doAdd()">add</i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav blue darken-1">
            <li><a name="loopBtn" class="white-text"><i class="large material-icons white-text" (click)="doRefresh()">loop</i>Aktualisieren</a></li>
            <li><a name="addBtn" class="white-text"><i class="large material-icons white-text" (click)="doAdd()">add</i>Hinzufügen</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>